<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/standardwidth %>

<section class="d-flex breadcrumbs container-fluid section-narrow">
  <div class="breadcrumbs-items d-flex align-items-center justify-content-between">
    <p><a href="/">Home</a> &gt; My account </p>
  </div>
</section>
<section class="container section-narrow">
  <% include ../partials/flashmessages %>
  <div class="row">
    <div class="col-lg-3">
      <ul class="secondary-nav">
        <p class="secondary-nav__avatar"><%= user.firstname %></p>
        <li class="secondary-nav__item "><a href="/account/bookings">My bookings</a></li>
        <li class="secondary-nav__item "><a href="/account/settings">Account settings</a></li>
        <li class="secondary-nav__item secondary-nav__item_current"><a href="/account/reset">Reset password</a></li>
      </ul>
    </div>
    <div class="col-lg-9">
      <form action="/reset/loggedin" method="POST">
  		  <h2>Reset Password</h2>
  		  <div class="form-group">
  		    <label for="password">New Password</label>
  		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
  		  </div>
  		  <div class="form-group">
  		    <label for="confirm">Confirm Password</label>
  		    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
  		  </div>
  		  <div class="form-group">
  		    <button type="submit" class="btn btn-primary">Update Password</button>
  		  </div>
  		</form>
    </div>
  </div>


</section>

<% include ../partials/footer %>
