<% if (successMessage && successMessage.length > 0) { %>
<div class="alert alert-success" role="alert">
  <%= successMessage %>
</div>
<% } %>
<% if (errorMessage && errorMessage.length > 0) { %>
<div class="alert alert-error" role="alert">
<%= errorMessage %>
</div>
<% } %>
