</main>
<footer class="footer">
  <section class="container">
    <div class="row justify-content-center pb-4">
      <a  href="/">
        <img class="footer-image" src="/static/soloistalogonewwhite.png">
      </a>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <h2 class="footer-heading">About Soloista</h2>
        <p class="footer-paragraph">Soloista is a <b>fictional music room booking service</b> built for the purposes of learning NodeJS, Express and MongoDB. It features a fully-functional booking system, user authentication, and payments via Stripe. If you would like to know more about the project, take a look at the <a href="/faqs">FAQs page</a>.</p>
      </div>
      <div class="col-12 col-md-4">
        <h2 class="footer-heading">About the developer</h2>
        <p class="footer-paragraph">Nicholas Howley has nearly five years of web development experience working in a variety of organisations, including a <a href="https://www.studentminds.org.uk">mental health charity</a>, a <a href="https://www.guideposts.org.uk">social care charity</a>, and a <a href="https://www.ceica-peru.com">language school</a>.</p>
      </div>
      <div class="col-12 col-md-4">
        <h2 class="footer-heading">Get in touch</h2>
        <a href="https://www.linkedin.com/in/nicholas-howley/"><img class="footer-social" src="/static/linkedin.png"></a>
        <a href="https://github.com/Oreon93/soloista"><img class="footer-social" src="/static/github.png"></a>
        <a href="mailto:nicholas-howley@hotmail.com"><img class="footer-social" src="/static/email.png"></a>
      </div>
    </div>
  </section>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>
<!--<script src="js/site.js">-->

</body>
</html>
