<main>
  <section class="section-block container-fluid">
  <div class="col-lg-4 col-md-6 col-sm-8 mx-auto text-center">
      <a href="/"><img src="/static/soloistalogonew.png" class="img-fluid mx-auto" style="display: block; width: 140px"></a>
      <% if (successMessage && successMessage.length > 0) { %>
      <div class="alert alert-success" role="alert">
      <%= successMessage %>
      </div>
      <% } %>
      <% if (errorMessage && errorMessage.length > 0) { %>
      <div class="alert alert-error" role="alert">
      <%= errorMessage %>
      </div>
      <% } %>
