<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/standardwidth %>
<!----<section class="section-block image-section">
  <h1>Search results</h1>
</section>---->
<section class="d-flex breadcrumbs container-fluid section-narrow">
  <div class="breadcrumbs-items d-flex align-items-center justify-content-between">
    <p><a href="/">Home</a> &gt; Search results </p>
    <p><a id="listviewlink" class="link-active" href="#"><i class="far fa-list-alt"></i> List view</a> | <a id="mapviewlink" href="#"><i class="fas fa-map-marked-alt"></i> Map view</a></p>
  </div>
</section>
<section id="listview" class="container section-block">
  <% include ../partials/flashmessages %>
  <div class="row">
    <!---- These are the room filters --->
    <div class="room-filters col-lg-3">
      <div class="room-filter">
        <h3>Rooms availabe on:</h3>
        <div class="date-filter">
        <input type="text" id="datepicker" placeholder="<%= moment(dateQuery, "MM-DD-YYYY").format("dddd, D MMMM") %>"></input>
        </div>
      </div>
      <div class="room-filter">
        <h3>Price per hour:</h3>
        <p>
          <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range"></div>

      </div>
      <div class="room-filter" style="display:none">
        <h3>Features</h3>
        <input type="checkbox" name="uprightpiano" value="Upright piano">Upright piano<br>
        <input type="checkbox" name="grandpiano" value="Grand piano">Grand piano<br>
        <input type="checkbox" name="amplifier" value="Amplifier">Amplifier<br>
        <input type="checkbox" name="musicstand" value="Music stand">Music stand<br>
        <input type="checkbox" name="organ" value="Organ">Organ<br>
      </div>
    </div>
    <!--- These are the results in a list view --->
    <div class="col-lg-9" id="results">
      <% include ../search-results %>
    </div>
    <!--- End of list view --->
  </div>
</section>
<section id="mapview" style="display:none">

  <div class="mapviewcolumn mapview-right order-md-2">
    <div class="mapbox">
      <div id='mymap' style=""></div>
    </div>
  </div>
  <div class="mapviewcolumn mapview-left order-md-1">
    <div class="map-results-list" id="mapresults">
    <!--- Rooms listing again but for the map view --->
    <% include ../search-results-map-view %>
    </div>
  </div>

</section>



<div class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

    </div>
  </div>
</div>




<script>
$(document).ready(function(){
  // Popup modal if sommeone tries to book but isn't logged in
  $("#listview").on("click", ".time-slot.enabled", function(event) {
    var id = event.target.id.substring(0, event.target.id.length - 2);
    var time = parseInt(event.target.id.substring(event.target.id.length - 2)) - 2;

    $.ajax({
      type: "POST",
      url: "/loginmodal",
      data: {id: id, time: time},
      success: function(data) {
      $(".modal").modal();
      $(".modal-content").html(data);
      console.log(data);
    }});
  });

  // Price slider configuration
  $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 40,
    values: [ 0, 40 ],
    slide: function( event, ui ) {
      $( "#amount" ).val( "€" + ui.values[ 0 ] + " - €" + ui.values[ 1 ] );
    }
  });
  $( "#amount" ).val( "€" + $( "#slider-range" ).slider( "values", 0 ) +
    " - €" + $( "#slider-range" ).slider( "values", 1 ) );

  // Date picker configuration
  $( "#datepicker" ).datepicker({
  inline: true, minDate: 0, maxDate: "+1M +10D", dateFormat: "DD, dd MM"
  });

  $("#datepicker").change(refreshRooms);
  $("#slider-range").on("slidechange", refreshRooms);

  function refreshRooms() {
    // Get user filters
    var priceRange =  $("#slider-range").slider("values");
    var priceMin = priceRange[0], priceMax = priceRange[1];
    var date = $.datepicker.formatDate("mm-dd-yy", $("#datepicker").datepicker("getDate"));

    // Refresh the rooms
    $.ajax({
      type: "GET",
      url: "/rooms/search-refresh?" + "date=" + date + "&priceMin=" + priceMin + "&priceMax=" + priceMax + "&view=list",
      success: function(data) {
        $("#results").hide();
        $("#results").html(data);
        $("#results").fadeIn("slow");
    }});
    $.ajax({
      type: "GET",
      url: "/rooms/search-refresh?" + "date=" + date + "&priceMin=" + priceMin + "&priceMax=" + priceMax + "&view=map",
      success: function(data) {
        $("#mapresults").html(data);
    }});
  };

  // Change between map view and list view
  $("#mapviewlink, #listviewlink").click(function() {
    $("#listview, #mapview").toggle();
    $("#mapviewlink, #listviewlink").toggleClass("link-active");
    $("main").toggleClass("fill-viewport");
    $("html").toggleClass("fill-viewport");
    $("body").toggleClass("fill-viewport");
  });

  mapboxgl.accessToken = 'pk.eyJ1Ijoib3Jlb24xOTkzIiwiYSI6ImNqZngwbmNuODA1ZzEyd2xqa2w2NjQweHAifQ.KviPGrmDg7igxoc1rf-_ww';
  var map = new mapboxgl.Map({
  container: 'mymap',
  style: 'mapbox://styles/oreon1993/cjpiubewd07wu2rqmxsqa58jh',
  center: [2.187308, 41.385662], // starting position
    zoom: 13 // starting zoom
  });

  $("#mapviewlink").one("click", function() {

    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());
    map.resize();
  });

  map.on('load', function() {
    map.loadImage("/static/marker-15.png", function(error, image) {
        if (error) throw error;
        map.addImage('cat', image);
        map.addLayer({
            "id": "places",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": <%-JSON.stringify(locations) %>
                }
            },
            "layout": {
                "icon-image": "cat",
                "icon-size": 1,
                "icon-allow-overlap": true,
                "text-field": "{title}",
                "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                "text-offset": [0, 0.6],
                "text-anchor": "top"
            }
        });
        console.log("Actually done");
    });
  });
});

</script>
<% include ../partials/footer %>
