<% include partials/header %>
<% include partials/nav %>
<% include partials/standardwidthgrey %>
<section class="top-banner section-narrow">

  <div class="col-lg-4 col-md-6 col-sm-8 mx-auto text-center">
      <h2 class="message">Forgot your password?</h2>
      <p class="sign-up-text">Enter your e-mail and we'll send you a link to reset your password</p>
		<form class="login-form"  action="/forgot" method="POST">
			<input class="login-input" type="text" name="email" placeholder="E-mail">
			<button class="btn btn-primary home-primary-btn btn-block ">Reset password</button>
    </form>
	</div>
</section>
<% include partials/footer-formwidth %>
<% include partials/footer %>
