<% include partials/headerhome %>

<div class="jumbotron jumbotron-fluid home-banner" style="position: relative; background-image: url('static/piano2.jpg'); background-size: cover">
  <div class="container">
    <h1>Space to express yourself.</h1>
    <p class="lead">Quality music practice rooms in the heart of Barcelona, bookable by the hour.</p>
    <div class="form-row">
      <form method="GET" action="/rooms/search">
        <div class="col-4">
          <input type="text" class="form-control form-control-lg" id="datepicker" name="date" placeholder="--/--/----">
        </div>
        <div class="col-1">
            <button class="btn btn-primary btn-lg home-primary-btn" href="#"><i class="fas fa-search"></i> Find rooms</button>
        </div>
      </form>
    </div>
  </div>
  <svg viewbox="0,0, 800, 83" style="width:100%; position: absolute; bottom: 0; left:0">
    <path id="Unnamed"
    fill="white" stroke="none" stroke-width="1"
    d="M 800.00,83.00
       C 799.92,84.63 778.00,42.00 602.00,30.00
         517.96,26.57 504.79,33.98 459.00,42.00
         386.00,52.00 302.75,15.99 257.00,20.00
         201.93,24.83 165.14,39.94 118.00,33.00
         78.30,27.16 35.20,15.75 0.00,0.67
         0.00,0.67 0.00,83.00 0.00,83.00
         0.00,83.00 800.00,83.00 800.00,83.00 Z" />
  </svg>
</div>
<div class="container">
  <section class="section-block">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Booking with Soloista is simple.</h2>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-4">
        <div class="square-box">
          <img class="img-fluid" src="static/step_1.png">
        </div>
        <div class="text-center">
          <p class="counter-round">1</p>
          <h5>Choose your room</h4>
          <p>Search for the perfect space and book as much time as you need.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="square-box">
          <img class="img-fluid" src="static/step_2.png">
        </div>
        <div class="text-center">
          <p class="counter-round">2</p>
          <h5>Get your access code</h4>
          <p>This is similar to a QR code - it acts as a keycard to the room</p>
        </div>
      </div>
      <div class="col-4">
        <div class="square-box">
          <img class="img-fluid" src="static/step_3.png">
        </div>
        <div class="text-center">
          <p class="counter-round">3</p>
          <h5>You're in!</h4>
          <p>Practice, compose, perform, or just play - it's all yours!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-block">
    <div class="row">
      <div class="col-5">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="card carousel-item active">
              <img class="card-img-top" src="static/images/rooms/pianoroom1.jpg">
              <div class="card-body">
                <h5 class="card-title"><b>El Born</b> | Suarez Room</h5>
                <h6 class="card-subtitle text-muted">&euro;3.50 per hour</h6>
                <div class="text-right">
                  <a class="btn btn-outline-primary">Book</a>
                </div>
              </div>
            </div>
            <div class="card carousel-item">
              <img class="card-img-top" src="static/images/rooms/pianoroom2.jpg">
              <div class="card-body">
                <h5 class="card-title"><b>Raval</b> | San Antonio Room</h5>
                <h6 class="card-subtitle text-muted">&euro;5.50 per hour</h6>
                <div class="text-right">
                  <a class="btn btn-outline-primary">Book</a>
                </div>
              </div>
            </div>
            <div class="card carousel-item">
              <img class="card-img-top" src="static/images/rooms/pianoroom3.jpg">
              <div class="card-body">
                <h5 class="card-title"><b>Eixample</b> | Balmes Suite</h5>
                <h6 class="card-subtitle text-muted">&euro;8.00 per hour</h6>
                <div class="text-right">
                  <a class="btn btn-outline-primary room-card">Book</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
      </div>
      <div class="col-6">
        <h2 class="text-dark">Explore our spaces</h2>
        <p class="lead">Whether you're a solo artist, band, or music teacher - we have a room for you.</p>
        <ul class="tick">
          <li><strong>Complete focus</strong><br>All rooms fully sound-proofed</li>
          <li><strong>Fully equipped</strong><br>Piano available in every room</li>
          <li><strong>Easy to access</strong><br>All our rooms are close to a metro</li>
        </ul>
        <a class="btn btn-secondary btn-lg" href="#">See all rooms <i class="fas fa-angle-right"></i></a>
      </div>

    </div>
  </section>

</div>
<div class="container-fluid primary-background" style="position: relative;">
  <svg viewbox="0,0, 800, 83" style="width:100%; position: absolute; top: 0; left:0">
    <path id="Unnamed"
    fill="white" stroke="none" stroke-width="1"
    d="M 0.00,0.00
      C 0.08,-1.63 22.00,41.00 198.00,53.00
        282.04,56.43 295.21,49.02 341.00,41.00
        414.00,31.00 497.25,67.01 543.00,63.00
        598.07,58.17 631.86,37.06 679.00,44.00
        718.70,49.84 767.00,48.00 800.00,28.00
        800.00,28.00 800.00,-0.00 800.00,-0.00
        800.00,-0.00 0.00,0.00 0.00,0.00 Z" />
  </svg>
  <section class="section-block wavy-top">
    <div class="container">
      <div class="row py-5">
        <div class="col-6 cover-text">
          <h2 class="pb-3">Introducing Soloista<strong>+</strong></h2>
          <p class="lead">Soloista+ is for committed musicians. It gives you guaranteed access to our facilities to practice.</p>
          <p class="lead"> Pick a room and a time slot and it'll be reserved for you, week in, week out. Membership is paid monthly.</p>
          <p class="lead">Soloista+ saves you <b>20% compared to renting a room on an ad-hoc basis.</b></p>
          <a class="btn btn-white" href="#">See pricing <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <svg viewbox="0,0, 800, 83" style="width:100%; position: absolute; bottom: 0; left:0">
    <path id="Unnamed"
    fill="white" stroke="none" stroke-width="1"
    d="M 0.00,83.00
       C 0.00,83.00 0.00,80.00 0.00,80.00
         49.37,50.38 232.00,28.00 414.00,42.00
         602.00,59.00 757.00,48.00 800.00,29.00
         800.00,29.00 800.00,83.00 800.00,83.00
         800.00,83.00 0.00,83.00 0.00,83.00 Z" />
  </svg>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row py-4 justify-content-center">
      <div class="col-12 text-center">
        <h2>Questions?</h2>
        <p class="lead">Take a look at our <a href="#">FAQs</a> or contact us below:</p>
      </div>
      <div class="col-6 text-center">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="message" placeholder="Your question"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>

<iframe src="https://snazzymaps.com/embed/86746" width="100%" height="600px" style="border:none;"></iframe>


<% include partials/footer %>
