<% include partials/header %>
<% include partials/nav %>
<% include partials/standardwidthgrey %>
<section class="top-banner section-narrow">
  <div class="col-lg-4 col-md-6 col-sm-8 mx-auto text-center">
    <!-- Flash messages embedded directly instead of as a partial, because it has the potential to replace part of the page -->
    <% if (successMessage && successMessage.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= successMessage %>
    </div>
    <% } else if (errorMessage && errorMessage.length > 0) { %>
    <div class="alert alert-error" role="alert">
    <%= errorMessage %>
    </div>
    <% } else { %>
    <img src="/static/saxophone.png" width="70"/>
    <h2 class="message text-center">Welcome back!</h2>
    <p>Log in to manage your bookings</p>
    <% } %>
    <div class="login-form">
      <form action="/login" method="POST">
        <input class="login-input" name="username" type="text" placeholder="E-mail">
        <input class="login-input" name="password" type="password" placeholder="Password">
        <button class="btn btn-primary btn-block ">Log in</button>
        <a href="/register" class="btn btn-secondary btn-block ">Sign up</a>
        <div class="row">
          <div class="col">

          </div>
          <div class="col">

          </div>
        </div>

      </form>

    </div>
    <a href="/forgot"><p class="text-center mt-3 mb-5">Forgot password?</p></a>
  </div>

</section>

<% include partials/footer %>
