<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><%= room.name %> at <%= time %>:00</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
  <h4 class="text-center">Log in to book this room</h4>
  <form class="login-form-modal" action="/loginandbook/<%= room.id %>/<%= time %>" method="POST">
    <input class="login-input" name="username" type="text" placeholder="E-mail">
    <input class="login-input" name="password" type="password" placeholder="Password">
    <button class="btn btn-secondary btn-block ">Log in</button>
    <p class="text-center mt-3 mb-5">Forgot password?</p>
  </form>
</div>
