<% include partials/header %>
<% include partials/formwidth %>
<section class="section-block container-fluid">

  <div class="col-lg-4 col-md-6 col-sm-8 mx-auto text-center">
      <a href="/"><img src="static/logo1.png" class="img-fluid mx-auto" style="display: block; width: 140px"></a>
      <p class="sign-up-text">Create your account in a beat! Or <a href="login">sign in</a> if you already have one.</p>
    <form class="register-form" action="/register" method="POST">
      <input class="login-input" type="text" name="email" placeholder="E-mail">
      <input class="login-input" type="password" name="password" placeholder="Password">
      <input class="login-input" type="password" placeholder="Confirm password">
      <input class="login-input" type="number" name="mobile" placeholder="Mobile number">
      <button class="btn btn-primary home-primary-btn btn-block ">Sign up</button>
    </form>
  </div>
</section>
<% include partials/footer-formwidth %>
<% include partials/footer %>
