<% include partials/headerprimarybackground %>
<% include partials/standardwidth %>
<% include partials/nav %>
<section class="section-narrow container">
  <h1 class="soloistaplus-title text-center">Coming soon!</h1>
  <p class="soloistaplus-intro lead text-center">We will be launching Soloista+ shortly, offering a revolutionary service for committed musicians. <br>Check back here for future updates...</p>
</section>
<% include partials/footer %>
