/* Main colour: #0d3e63 or #f3c131 */

h1, h2, h3  {
  font-family: 'Open Sans';
  font-weight: bold;
  color: #0d3e63;
}



p, li {
  font-family: 'Open Sans', sans-serif;
  color: #434343;
}

a {
  color: #7093ad;
}

.text-faded {
  color: #666;
}


.page-body {
  margin-top: 100px;
}

.top-nav {
  padding-top: 20px;
}

.navbar-brand {
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
  color: #333;
}

.nav-item.active a {
  font-weight: bold;
}

.secondary-nav {
  padding: 10px 30px;
  background-color: #efeeff;
  width: 100%;
  display: block;
  margin: 0;
}

.current-page {
  background-color: #0d3e63;
}

.current-page > a {
  color: #fff;
}


.btn {
  vertical-align: middle;
  border-radius: 0;
}

.bg-primary {
  background-color: #7D70BA!important;
}

.btn-outline-primary {
  border-color: #ff4b2b!important;
  color: #ff4b2b!important;
  box-shadow: none!important;
  text-transform: uppercase;
}

.btn-outline-primary:hover {
  color: #fff!important;
  background-color: #ff4b2b!important;
}

.btn-outline-info {
  border-color: #3D93B0!important;
  color: #3D93B0!important;
  text-transform: uppercase;
}

.btn-outline-info:hover {
  color: #fff!important;
  background-color: #3D93B0!important;
}

.btn-outline-white {
  border-color: #fff!important;
  color: #fff!important;
  box-shadow: none!important;
  text-transform: uppercase;
  background: none;
}

.btn-secondary {
  background-color: #efeeff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.9rem 1.1rem;
  color: #0d3e63;
  box-shadow: none;
}

.btn-white {
  background-color: #efeeff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.9rem 1.1rem;
  color: #0d3e63;
  box-shadow: none;
}

.bg-warning {
  background-color: #EA3546!important;
}

.btn-primary {
  background-color: #0d3e63!important;
  border-color: #0d3e63!important;
}

.text-primary {
  color: #7D70BA!important;
}

.home-banner {
  padding: 200px 0 250px 0px;
  margin-bottom: 0;
  text-align: center;
}

.home-banner h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin-bottom: 10px;
}


.home-banner p {
  margin-bottom: 35px;
}

.home-search > div {
  margin: 0 auto;
}

.home-search input {
  border: 2px solid #f3c131;
}

.emphasis {
  font-weight: 700;
  font-size: 0.95em;
  color: #ffc107;
  text-shadow: 3px 2px 1px #b1b1b1;
}


.home-primary-btn {
  background-color: #0d3e63!important;
  border: 0px;
  border-radius: 4px!important;
  box-shadow: 4px 3px 1px rgba(0,0,0,0.4);
  font-size: 1.25em;
  padding: 0.7rem 1.1rem;
  width: 100%;
  font-weight: 600;
  margin: 10px 0;
}

.primary-background {
  background: -webkit-linear-gradient(to right,  #0d3e63, #297AA2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #0d3e63, #297AA2);
  color: #fff;
}

.primary-background h2, .primary-background p {
  color: #fff;
}

.one-line-section {
  color: #fff;
}

.one-line-section p {
  margin: 0 auto;
  display: inline;
}

.one-line-section a {
  color: #fff;
  text-decoration: underline;
}

.section-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-narrow {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-narrow + .section-block {
  margin-top: -40px;
}

.section-block.wavy-top {
  padding: 120px 0px 60px 0px;
}

.image-section {
  background-image: url(/static/newsoloistabackgroundgrey.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}


.btn-block {
  margin-top: 30px;
  font-weight: 500;
  /* text-transform: uppercase; */
  font-size: 1.1em;
  padding: 10px;
}

.one-line-section .fas, .one-line-section .fa {
  margin-right: 5px;
  display: inline;
  font-size: 1.3em;
}

.tick li {
  background-image: url("check.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 45px;
  list-style: none;
  margin-bottom: 25px;
}

.tick {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  margin-bottom: 20px;
}

.square-box {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.square-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-box img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.counter-round {
  padding: 15px;
  background-color: #efeeff;
  font-size: 1.3em;
  display: inline-block;
  border-radius: 40px;
  line-height: 0.5em;
  color: #7b6d6a;
  font-weight: 700;
}

.cover-text {
  color: #333!important
}

.cover-text b {
  font-weight: bold;
}

/* General UI */
.current-page {
  font-weight: bold;
}


/* Room listings */

.room-filter {
  padding: 20px 0px;
  border-top: 1px solid #ddd;
}

.room-filter h3 {
  font-size: 1.1em;
}

.date-filter {
  margin: 15px 0px;
}

.date-filter p {
  display: inline;
  background-color: #efeeff;
  padding: 5px;
  border-radius: 5px;
}

.room-listing {
  box-shadow: 3px 3px 3px #ddd;
  border-radius: 2px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.room-listing-image {
  background-size: cover;
  height: 100%;
  transition: 0.5s transform, 0.5s opacity;
}

.room-link-text {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #fff;
  z-index: 2;
}

.room-link:hover .room-link-text {
  display: block;
}

.room-listing-information {
  padding: 10px 30px!important;
}

.room-listing a {
  transition: opacity 0.5s;
  color: #333;
}

.room-listing a:hover {
  opacity:0.5;
  text-decoration: none;
}

.room-listing-image:hover {
  transform: scale(1.1);
  opacity: 0.7;
}


.room-listing a:hover h3 {
  text-decoration: underline!important;
}

.room-listing h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
}

.room-listing .price {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 0;
  line-height: 1.4rem;
  color:  #f3c131;
}

.room-listing .unit {
  font-size: 0.8rem;
}

.room-listing .review {
  float: right;
  color: #ff4b2b;
}

.img-thumbnail {
  border: none;
  border-radius: 8px;
}

/* Individual rooms */
.room-card-title {
  font-weight: bold;
  margin: 5px 0px;
}

.tickmark {
  color: #4fad70;
}




.full-feature {
  height: 600px;
  width: 100%
}

.room-location {
  font-size: 1.3rem;
}

.time-slot {
  text-align: center;
  margin: 1px;
  padding: 5px;
  background-color: #efeeff;
  border: none;
  width: 100%;
  transition: background-color 0.5s;
  display: block;
}

.time-slot:hover {
  background-color: #5a6268;
  color: #fff;
  cursor: pointer;
}

.time-slot.disabled {
  pointer-events:none;
  background-color: #f7f6ff;
  color: #bbb;
}

.same-line {
  display: inline;
}

.review-list {
  padding: 15px;
  border-radius: 5px;
  background-color: #efeeff;
  margin: 10px 0px;
}

.review-list .rating, .room-info .rating {
  color: #ff4b2b;
  display: inline;
}

.review-list .review {
  margin-bottom: 0px;
}

.review-list .author {
  display: inline;
  font-size: 1.3rem;
  color: #555;
  font-weight: 700;
}

/* ------------------ User bookings page ---------------------- */

.booking-listing {
  border: 1px solid #efeeff;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px #ddd;
}

.block-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.room-info {
  padding: 8px 10px;
}

.room-info p {
  margin: 0;
}

.room-location {
  font-size: 0.9em;
  text-transform: uppercase;
}

.room-time {
  font-size: 1.3em;
}


.booking-utilities {
  background-color: #efeeff;
  font-size: 1.6em;
}

.room-code {
  padding: 12px 15px 0px 0px;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 0.9em;
}

.room-action-button {
  align-self: center;
  margin-left: 10px;
  font-weight: 600;
  border-radius: 5px;
}

.room-action-form {
  align-self: center;
  margin-top: -4px;
}

.btn-danger {
  color: #fff!important;
}

/* ------------------ Login form styles ----------------------- */



.login-form p {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

.register-form {
  color: #333;
  font-size: 1em;
}

.login-form {
  color: #fff;
  font-size: 1em;
  margin: 30px 0px 100px 0px;
}

.login-input {
  background: none;
  border: none;
  border-radius: 0;
  font-size: 1.2em;
  line-height: 1.5em;
  border-bottom: 2px solid #fff;
  padding: 0.6em 0.8em 0.3em 0.8em;
  width: 100%;
  font-weight: 600;
  transition: border-bottom-color 0.4s;
  margin: 10px 0px;
}

.register-form .login-input {
  border-bottom: 2px solid #555;
}

.login-input:focus {
  outline: none;
  border-bottom-color: #ff4b2b;
}

.login-input:focus::placeholder {
  opacity: 0;
}

.login-input::placeholder {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
}

.register-form .login-input::placeholder {
  color: #555;
}

.overlap {
  margin-top: -40px;
}

.no-account {
  font-weight: 600;
  color: #555;
  margin-right: 15px;
}

.sign-up-text {
  font-weight: 600;
  color: #555;
  margin-top: 15px;
}

.login-form-modal {
  padding: 20px;
}

.login-form-modal .login-input {
  background-color: #efefef;
  color: #555;
}

.login-form-modal .login-input::placeholder {
  color: #555;
}
