/* CONTENTS

1. STYLES FOR ALL SIZES
- PALLETTE
- CORE LAYOUT
- CORE TYPOGRAPHY

2. MOBILE FIRST STYLES
- CORE LAYOUT
- HOME PAGE
- SEARCH PAGE
- SHOW PAGE
- ACCOUNT PAGES

3. DESKTOP STYLES
- CORE LAYOUT
- HOME PAGE
- SEARCH PAGE
- SHOW PAGE
- ACCOUNT PAGES


/* -------------------------- 1. STYLES FOR ALL SIZES ------------------------------- */
/* PALLETTE */
:root {
  --primary-blue: #0d3e63;
  --primary-yellow: #f3c131;
  --link-color: #7093ad;
  --paragraph-color: #434343;
}

/* CORE LAYOUT */
main {
  min-height: 100vh;
}

.page-body {
  padding-top: 100px;
}


/* CORE TYPOGRAPHY */

h1, h2, h3  {
  font-family: 'Open Sans', Helvetica, Sans-Serif;
  font-weight: 600;
  color: var(--primary-blue);
}

p, li {
  font-family: 'Open Sans', sans-serif;
  color: var(--paragraph-color);
}

a {
  color: var(--link-color);
}

.message {
  font-weight: 600;
}

.link-active {
  font-weight: bold;
}


/* MOBILE FIRST STYLES */

/* ------- CORE LAYOUT ------- */
[class*="col-"] {
    margin-bottom: 15px;
}

/* NAV */
.top-nav {
  padding-top: 20px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  transition: background-color 0.5s ease, padding-top 0.5s ease;
}

.top-nav.scrolled {
  background-color: var(--primary-blue);
  padding-top: 5px;
}

.top-nav.scrolled .nav-link {
  color: #fff;
}

.top-nav.scrolled .navbar-brand img {
  background: url("/static/soloistalogonewwhite.png") no-repeat;
  background-size: contain;
  padding-left: 120px;
  width: 120px;
  height: 60px;
  box-sizing: border-box;
}

.fixed-top {
  z-index: 3;
}

.navbar-brand {
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}

.primary-background .navbar-brand img {
  background: url("/static/soloistalogonewwhite.png") no-repeat;
  background-size: contain;
  padding-left: 120px;
  width: 120px;
  height: 80px;
  box-sizing: border-box;
}

.primary-background h1 {
  color: #fff;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
  color: #333;
}

.primary-background .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-item.active a {
  font-weight: bold;
}

.section-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-narrow {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-narrow + .section-block {
  margin-top: -10px;
}

.section-block.wavy-top {
  padding: 60px 0px 30px 0px;
}

.breadcrumbs {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #efeeff;
  height: 80px;
}

.breadcrumbs-items {
  width: 100%;
}

.breadcrumbs p {
  margin-bottom: 0;
}

.secondary-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline-start: 0px;
}

.secondary-nav__avatar {
  width: 100%;
  font-weight: 600;
  text-align: center;
}

.secondary-nav__item {
  display: inline;
  text-align: center;
  list-style: none;
  margin: 0px 10px;
  flex: 1;
}

.secondary-nav__item_current {
  font-weight: bold;
}

/* FOOTER */
.footer {
  background-color: var(--primary-blue);
  padding: 40px 0px;
}

.footer-image {
  text-align: center;
  width: 120px;
}

.footer-heading {
  color: rgba(255,255,255, 0.8);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
}

.footer-paragraph {
  color: rgba(255,255,255, 0.6);
}

.footer-social {
  width: 50px;
}

/* ------- HOME PAGE ------- */
.home-banner {
  padding: 150px 0 150px 0px;
  margin-bottom: 0;
  text-align: center;
}

.home-banner h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.landing-section {
  text-align: center;
}

.action-box {
  background-color: #efeeff;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px;
}

.room-slider {
  padding: 0;
}

/* ------- SEARCH PAGE ------- */
/* View toggle */
.view-toggle {
  display: none;
}


/* Room filters */
#price-filter {
  display: none;
}

.hasDatepicker {
  width: 100%;
}

.room-filter {
  padding: 20px 0px;
  border-top: 1px solid #ddd;
}

.room-filter h3 {
  font-size: 1.1em;
}

.date-filter {
  margin: 15px 0px;
}


.date-filter p {
  display: inline;
  background-color: #efeeff;
  padding: 5px;
  border-radius: 5px;
}

/* Room listing - list view */

.room-listing {
  box-shadow: 3px 3px 3px #ddd;
  border-radius: 2px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.room-listing-image {
  background-size: cover;
  background-position: center center;
  height: 200px;
  transition: 0.5s transform, 0.5s opacity;
}

.room-link-text {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 2;
}

.room-link-text a {
  color: #fff!important;
}

.room-link:hover .room-link-text {
  display: block;
}

.room-listing-information {
  padding: 10px 30px!important;
}

.room-listing a, .room-index a {
  transition: opacity 0.5s;
  color: #333;
}

.room-listing a:hover, .room-index a:hover {
  opacity:0.5;
  text-decoration: none;
}

.room-listing-image:hover {
  transform: scale(1.1);
  opacity: 0.7;
}


.room-listing a:hover h3 {
  text-decoration: underline!important;
}

.room-listing h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
}

.room-listing .price, .room-index .price {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 0;
  line-height: 1.4rem;
  color:  #f3c131;
}

.room-listing .unit {
  font-size: 0.8rem;
}

.room-listing .review, .room-index .review {
  float: right;
  color: #f3c131;
}

.room-name h3 {
  display: inline;
  font-size: 1.5rem;
}



.img-thumbnail {
  border: none;
  border-radius: 8px;
}

.time-slot-col {
  margin-bottom: 0;
}

.time-slot {
  text-align: center;
  margin: 1px;
  padding: 5px;
  background-color: #efeeff;
  border: none;
  width: 100%;
  transition: background-color 0.5s;
  display: block;
  color: #333!important;
}

.time-slot:hover {
  background-color: #5a6268;
  color: #fff;
  cursor: pointer;
}

.time-slot.disabled {
  pointer-events:none;
  background-color: #f7f6ff;
  color: #bbb;
}


/* Room listings - map view */

#mapview {
  margin: 0px;
}

.mapviewcolumn {
  flex-direction: column;
}

.mapview-left {
  width: 100%;
}

.mapview-right {
  width: 100%;
  height: 300px;
}

.mapbox {
  height: 100%;
}

#mymap {
  height: 100%;
}

.map-results-list {
  border-right: 1px solid #ddd;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.map-room-listing {
  border-bottom: 1px solid #ddd;

}

.map-room-listing h3 {
  font-size: 1.5em;
}

.mapboxgl-canvas {
  left: 0;
}

/* ------- SHOW PAGE ------- */
.room-info_core {
  text-align: center;
}

.room-info h1 {
  font-size: 2.2rem;
}


/* ------- ACCOUNT PAGES ------- */
.booking-listing-2 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ccc;
}

.booking-listing-2 p {
  margin-bottom: 0;
}

.booking-listing__info {
  display: flex;
  align-items: start;
}

.booking-listing__image {
  border-radius: 5px;
  max-width: 70px;
  text-align: center;
  margin-right: 15px;
}

.booking-listing__header {
  font-weight: 600;
}

.action-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.action-menu__close {
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #efeeff;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.action-menu__actions {
  display: none;
}

.action-menu__actions.opened {
  display: block;
  position: absolute;
  top: 0;
  right: 80px;
  background-color: #efeeff;
  padding: 8px 13px;
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
  border-radius: 5px;
}

.action-menu__actions.opened .room-action-button {
  border: 0;
  color: var(--paragraph-color)!important;
  padding: 0;
  margin: 0;
  line-height: 1.3rem;
  background: none;
  font-weight: normal;
}

.action-menu__actions.opened .room-action-button:focus {
  box-shadow: none;
}

.action-menu__actions.opened .room-action-button:active {
  background: none;
  border: none;
}

.action-menu__actions.opened .action-menu__close {
  display: block;
}

.action-menu__more {
  font-size: 20px;
  cursor: pointer;
}

/* ------- FAQs ------- */
.faq-list {
  margin-bottom: 40px;
  margin-top: 15px;
}

.faq-list .btn-link {
  white-space: normal;
  text-align: left;
}

/* ------- SOLOISTA PLUS ------ */
.soloistaplus-title {
  opacity: 0;
  animation: fadein 2s forwards;
}

.soloistaplus-intro {
  opacity: 0;
  animation: fadein 2s 1s forwards;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* DESKTOP DEVICES */
@media (min-width: 768px) {

/* Core layout */
[class*="col-"] {
    margin-bottom: 0px;
}

.section-block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-block.wavy-top {
  padding: 120px 0px 60px 0px;
}

.section-narrow + .section-block {
  margin-top: -40px;
}

.fill-viewport {
  height: 100%;
}

.secondary-nav {
  background-color: #efeeff;
  width: 100%;
  display: block;
  margin: 0;

}


.secondary-nav__item {
  list-style: none;
  display: block;
  margin: 0;
  padding: 10px 30px;
  text-align: left;
}

.secondary-nav__item_current {
  background-color: var(--primary-blue);
  color: #fff;
  font-weight: normal;
}

.secondary-nav__item_current > a {
  color: #fff;
}

.secondary-nav__avatar {
  padding: 20px 30px;
  margin: 0;
  text-indent: 30px;
  text-align: left;
  background: url("/static/user.png") 20px no-repeat;
  background-size: 30px;
}

/* -------- HOME PAGE ------- */
.home-banner {
  padding: 200px 0 250px 0px;
}

.home-banner h1 {
  font-size: 2.8em;
}



/* ------- SEARCH PAGE ------- */
.room-name h3 {
  font-size: 1.75rem;
}


/* View toggle */
.view-toggle {
  display: block;
}

/* Filters */
#price-filter {
  display: block;
}

/* Room listings - list view */
.room-listing-image {
  height: 100%;
}


/* Room listings - map view */

#mapview {
  height: calc(100% - 80px);
  overflow: hidden;
  margin: 0px;
  display: flex;
}


.mapviewcolumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapview-left {
  flex-shrink: 0;
  width: 40%;
}

.mapview-right {
  width: 100%;
}

.mapbox {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

#mymap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* ------- SHOW PAGE ------- */
.room-info_core {
  text-align: left;
}



/* Booking listing page */

.action-menu__more {
  display: none;
}



.action-menu__actions {
  display: flex;
  align-items: center;
}


}






.current-page > a {
  color: #fff;
}

.ui-datepicker {
  z-index: 2!important;
}

.btn {
  vertical-align: middlFe;
  border-radius: 0;
}

.bg-primary {
  background-color: #7D70BA!important;
}

.btn-outline-primary {
  border-color: #ff4b2b!important;
  color: #ff4b2b!important;
  box-shadow: none!important;
  text-transform: uppercase;
}

.btn-outline-primary:hover {
  color: #fff!important;
  background-color: #ff4b2b!important;
}

.btn-outline-info {
  border-color: #3D93B0!important;
  color: #3D93B0!important;
  text-transform: uppercase;
}

.btn-outline-info:hover {
  color: #fff!important;
  background-color: #3D93B0!important;
}

.btn-outline-white {
  border-color: #fff!important;
  color: #fff!important;
  box-shadow: none!important;
  text-transform: uppercase;
  background: none;
}

.btn-secondary {
  background-color: #efeeff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.9rem 1.1rem;
  color: #0d3e63;
  box-shadow: none;
}

.btn-white {
  background-color: #efeeff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.9rem 1.1rem;
  color: #0d3e63;
  box-shadow: none;
}

.bg-warning {
  background-color: #EA3546!important;
}

.btn-primary {
  background-color: #0d3e63!important;
  border-color: #0d3e63!important;
  color: #fff!important;
}

.text-primary {
  color: #7D70BA!important;
}






.home-banner p {
  margin-bottom: 35px;
}

.home-search > div {
  margin: 0 auto;
}

.home-search input {
  border: 2px solid #f3c131;
}

.emphasis {
  font-weight: 700;
  font-size: 0.95em;
  color: #ffc107;
  text-shadow: 3px 2px 1px #b1b1b1;
}


.home-primary-btn {
  background-color: #0d3e63!important;
  border: 0px;
  border-radius: 4px!important;
  box-shadow: 4px 3px 1px rgba(0,0,0,0.4);
  font-size: 1.25em;
  padding: 0.7rem 1.1rem;
  width: 100%;
  font-weight: 600;
  margin: 10px 0;
}

.primary-background {
  background: -webkit-linear-gradient(to right,  #0d3e63, #297AA2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #0d3e63, #297AA2);
  color: #fff;
}

.primary-background h2, .primary-background p {
  color: #fff;
}

.one-line-section {
  color: #fff;
}

.one-line-section p {
  margin: 0 auto;
  display: inline;
}

.one-line-section a {
  color: #fff;
  text-decoration: underline;
}


.image-section {
  background-image: url(/static/newsoloistabackgroundgrey.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}


.btn-block {
  margin-top: 30px;
  font-weight: 500;
  /* text-transform: uppercase; */
  font-size: 1.1em;
  padding: 10px;
}

.one-line-section .fas, .one-line-section .fa {
  margin-right: 5px;
  display: inline;
  font-size: 1.3em;
}

.tick li {
  background-image: url("check.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 45px;
  list-style: none;
  margin-bottom: 25px;
}

.tick {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  margin-bottom: 20px;
}

.square-box {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.square-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-box img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.counter-round {
  padding: 15px;
  background-color: #efeeff;
  font-size: 1.3em;
  display: inline-block;
  border-radius: 40px;
  line-height: 0.5em;
  color: #7b6d6a;
  font-weight: 700;
}

.cover-text {
  color: #333!important
}

.cover-text b {
  font-weight: bold;
}

/* General UI */
.current-page {
  font-weight: bold;
}






/* Confirm page */

.confirm-booking th:nth-child(1), .confirm-booking td:nth-child(1) { /* I don't think they are 0 based */
   text-align: left;
}

.confirm-booking th:nth-child(2), .confirm-booking td:nth-child(2) { /* I don't think they are 0 based */
   text-align: right;
}


/* Individual rooms */
.room-card-title {
  font-weight: bold;
  margin: 5px 0px;
}

.tickmark {
  color: #4fad70;
}




.full-feature {
  height: 600px;
  width: 100%
}

.room-location {
  font-size: 1.3rem;
}



.same-line {
  display: inline;
}

/* Room "show" page */

.room-availability {
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.room-availability h3 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0px;
  text-align: center;
}

.date-filter-room-show {
  text-align: center;
  margin: 10px 0px;
  border: none;
}

.date-filter-room-show input {
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  width: 50%;
}

.review-list {
  padding: 15px;
  border-radius: 5px;
  background-color: #efeeff;
  margin: 10px 0px;
}

.review-list .rating, .room-info .rating, .main-room-info .rating {
  color: #f3c131;;
  display: inline;
}

.review-list .review {
  margin-bottom: 0px;
}

.review-list .author {
  display: inline;
  font-size: 1.3rem;
  color: #555;
  font-weight: 700;
}

/* ------------------ User bookings page ---------------------- */

.booking-listing {
  border: 1px solid #efeeff;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px #ddd;
}

.block-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.room-info {
  padding: 8px 10px;
}

.room-info p {
  margin: 0;
}

.room-location {
  font-size: 0.9em;
  text-transform: uppercase;
}

.room-time {
  font-size: 1.3em;
}


.booking-utilities {
  background-color: #efeeff;
  font-size: 1.6em;
}

.room-code {
  padding: 12px 15px 0px 0px;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 0.9em;
}

.room-action-button {
  align-self: center;
  margin-left: 10px;
  font-weight: 600;
  border-radius: 5px;
}

.room-action-form {
  align-self: center;
  margin-top: -4px;
}

.room-reviewed {
  color: #666;
}

.btn-danger {
  color: #fff!important;
}




/* ------------------ Login form styles ----------------------- */



.login-form p {
  font-weight: 600;
  text-decoration: underline;
}

.register-form {
  color: #333;
  font-size: 1em;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  font-size: 1em;
  margin: 20px 0px;
  border-radius: 10px;
  box-shadow: 2px 3px 20px rgba(0,0,0, 0.2);
}

.login-input {
  background: none;
  border: none;
  border-radius: 0;
  font-size: 1.2em;
  line-height: 1.5em;
  border-bottom: 2px solid #0d3e63;
  padding: 0.6em 0.8em 0.3em 0.8em;
  width: 100%;
  font-weight: 600;
  transition: border-bottom-color 0.4s;
  margin: 10px 0px;
}

.register-form .login-input {
  border-bottom: 2px solid #555;
}

.login-input:focus {
  outline: none;
  border-bottom-color: #ff4b2b;
}

.login-input:focus::placeholder {
  opacity: 0;
}

.login-input::placeholder {
  font-weight: 600;
  font-size: 0.9em;
}

.register-form .login-input::placeholder {
  color: #555;
}

.overlap {
  margin-top: -40px;
}

.no-account {
  font-weight: 600;
  color: #555;
  margin-right: 15px;
}

.sign-up-text {
  font-weight: 600;
  color: #555;
  margin-top: 15px;
}

.login-form-modal {
  padding: 20px;
}

.login-form-modal .login-input {
  background-color: #efefef;
  color: #555;
}

.login-form-modal .login-input::placeholder {
  color: #555;
}
